<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Book search</title>
</head>
<body>
    <h1>Book Search</h1><br/><br/><br/>
    
    <form action="/book_search" method="POST">
        <p>
            Which kind of books you are looking for: <input name="category" type="text" value="no category" onFocus="this.value=''" /><br/><br/><br/>
            What's the size limit(万字): <br/>
            (minimum)<input name="sizebottom" value="0" onFocus="this.value=''"/>---<input name="sizetop" value="2000" onFocus="this.value=''"/>(maximum)<br/><br/>
        </p>
        <input type="submit" value="Confirm"></input><br/><br/>
    </form>
    <input type="button" value="Back" onclick="javascript:history.back();">
        
</body>
</html>