<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<body>
    <h1>
        Welcome!
    </h1>
    <h2>
        This is a simple book infomation search engine.
    </h2>
    <p>
      Here, you can search book as a reader.<br>
      Or you can review the book trends.<br>
    </p>
    <form action="/handle_form" method="POST">
      <p>
        What can I help you?
        <select name='searchorreview' id="degree1">
          <option value="search">Book Search</option>
          <option value="review">Trends Review</option>
        </select>

        <select name='trends' id="degree2" style="display:None" value="trends1"></select>
        <script type="text/javascript">
          var select = document.getElementById("degree1");
          select.onchange=function(){
              var selvalue = select.value;
              var val = document.getElementById("degree2");
              switch(selvalue){
                  case "search" : val.style["display"]="None";break;
                  case "review" : 
                      val.style["display"]="";
                      val.innerHTML="<option value='trends1'>Top 20 books</option>"+
                                    "<option value='trends2'>Type distribution within some period</option>"+
                                    "<option value='trends3'>Size change among types</option>";
                      break;
                  default : alert("error");
              }
          };
        </script>



      </p>
      <input type="submit" value="Confirm"></input>
    </form>
</body>
</html>
